
* {
    box-sizing: border-box;
  }

  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Heebo", sans-serif;
  }
  
  .header {
    background-color: #9933cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    color: #ffffff;
  }

  .header .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10%;
    margin-left: 10vh;
  }

  .about-me {
    display: flex;
    gap: 5%;
    padding: 1%;
    border-radius: 10px;
    align-items: center !important;
    justify-content: center !important;
    background: linear-gradient(to right, #FFF 20%, rgb(216, 216, 216) 40%, rgb(199, 199, 199) 60%, #FFF 80%);
    background-size: 200% auto;
    animation: shine 3s linear infinite;
    
  }
  @keyframes shine {
    to {
    background-position: 200% center;
    }
    }
  .about-me :hover{
    cursor: pointer;
  }

  .about-me a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 120px;

  }

  .background{
    width: 100%;
    background-color: black;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    margin-top: 15%;
    padding: 0;
    border-right: none;
    border-bottom: 1px solid #ffffff;
  }
  
  .menu li {
    font-size: 100%;
    border-radius: 10px;
    width: 80%;
    padding: 8px;
    text-align: center;
    margin-bottom: 7px;
    color: #c1c1c1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #c1c1c1;
    color: #000;
    cursor: pointer;
  }
  
  .aside {
    /* background-color: #33b5e5; */
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .footer {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0%;
  }

  .footer h1{
    margin-bottom: 2%;
  }

  .footer-item {
    width: 100%;
    display: flex;
    gap: 8%;
    padding: 4%;
  }


  .footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
  }


  .main{
    color: white;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main h1{
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main h3{
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .main h2{
    margin-top: 0;
    font-size: 100%;

  }

  .write {
    animation: none;
  }

  .main-row {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card-wrap {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
  }

  .card {
    margin-bottom: 20%;
    background-color: #101010;
    border-radius: 20px;
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .card h2{
    padding: 5%;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    .about-me {
        padding: 0.5%;
    }
    .menu ul{
        border-right: 1px solid #ffffff;
        border-bottom: none;
    }
    .card-wrap {
        flex-direction: row;
      }
      .card {
        width: 30vw;
        height: 40vh;
        margin-bottom: 5%;
      }
    .header {
        gap: 25%;
    }
    .footer {
        gap: 20%;
        flex-direction: row;
        align-items: start;
      }
    .write {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        animation: 
          typing 5s steps(60, end) infinite;
      }
    .main{
        color: white;
        margin-top: 3%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
      }
    .main h1{
        font-size: 250%;
        margin-top: 0;
        margin-bottom: 0;
      }
    
      .main h3{
        font-size: 350%;
        margin-top: 0;
        margin-bottom: 0;
      }
    
      .main h2{
        margin-top: 0;
        font-size: 200%;
    
      }
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .menu ul{
        border-right: 1px solid #ffffff;
        border-bottom: none;
    }
    .card-wrap {
        flex-direction: row;
      }
      .card {
        width: 20vw;
        height: 40vh;
      }
    .footer {
        font-size: 12px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        gap: 20%;
    }
    .write {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        animation: 
          typing 5s steps(60, end) infinite;
      }
    .main{
        color: white;
        margin-top: 3%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
      }
    .main h1{
        font-size: 250%;
        margin-top: 0;
        margin-bottom: 0;
      }
    
      .main h3{
        font-size: 350%;
        margin-top: 0;
        margin-bottom: 0;
      }
    
      .main h2{
        margin-top: 0;
        font-size: 200%;
    
      }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  .gradient {
    background: #121FCF;
background: linear-gradient(to right, #55b0fb 0%, #c546e4 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

  }